In [2]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/vqvuxbengifvu22nhkloxxowurownr?dws=00000')

In [3]:
len(df.columns)

15

In [4]:
df

,Provider_ID,Hospital_Name,Address,City,State,ZIP_Code,County_Name,Hospital_Type,Hospital_Ownership,Emergency_Services,Disease_Name,Days,Predicted_Cases,Observed_Cases,SIR
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Acute Care Hospitals,Government - Hospital District or Authority,True,CLABSI,2038.0,3.058,7,2.289
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Acute Care Hospitals,Government - Hospital District or Authority,True,CAUTI,7310.0,8.779,29,3.303
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Acute Care Hospitals,Government - Hospital District or Authority,True,SSI: Colon,156.0,5.270,2,0.380
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Acute Care Hospitals,Government - Hospital District or Authority,True,SSI: Abdominal,63.0,0.740,1,-1.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,Acute Care Hospitals,Government - Hospital District or Authority,True,MRSA,98030.0,7.370,7,0.950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19463,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,VI,820,NaN,Acute Care Hospitals,Government - State,True,SSI: Abdominal,20.0,0.126,0,-1.000
19464,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,VI,820,NaN,Acute Care Hospitals,Government - State,True,MRSA,5104.0,0.183,0,-1.000
19465,480002,GOV JUAN F LUIS HOSPITAL & MEDICAL CTR,"#4007 EST DIAMOND RUBY, CHRISTIANSTED",ST CROIX,VI,820,NaN,Acute Care Hospitals,Government - State,True,C.diff,4678.0,2.040,0,0.000
19466,650001,GUAM MEMORIAL HOSPITAL AUTHORITY,85O GOV CARLOS G CAMACHO ROAD,TAMUNING,GU,96913,NaN,Acute Care Hospitals,Government - Local,True,CLABSI,1226.0,2.452,5,2.039
19467,650001,GUAM MEMORIAL HOSPITAL AUTHORITY,85O GOV CARLOS G CAMACHO ROAD,TAMUNING,GU,96913,NaN,Acute Care Hospitals,Government - Local,True,CAUTI,1547.0,3.094,5,1.616

In [5]:
df.describe()

,Provider_ID,ZIP_Code,Days,Predicted_Cases,Observed_Cases,SIR
count,19468.000000,19468.000000,19468.000000,19468.000000,19468.000000,19468.000000
mean,261678.350473,52009.857715,16422.326433,8.781783,7.865112,0.167288
std,158946.620886,28159.506085,37573.388948,22.434670,22.719545,1.071421
min,10001.000000,674.000000,1.000000,-1.000000,-1.000000,-1.000000
25%,110187.000000,29927.000000,104.000000,0.497750,0.000000,-1.000000
50%,250096.500000,49068.000000,1653.500000,1.889500,1.000000,0.237000
75%,390119.000000,76401.000000,12394.500000,6.024500,5.000000,0.884000
max,670089.000000,99901.000000,692944.000000,546.511000,553.000000,10.041000

In [7]:
df.dtypes

Provider_ID             int64
Hospital_Name          object
Address                object
City                   object
State                  object
ZIP_Code                int64
County_Name            object
Hospital_Type          object
Hospital_Ownership     object
Emergency_Services       bool
Disease_Name           object
Days                  float64
Predicted_Cases       float64
Observed_Cases          int64
SIR                   float64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19468 entries, 0 to 19467
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Provider_ID         19468 non-null  int64
 1   Hospital_Name       19468 non-null  object
 2   Address             19468 non-null  object
 3   City                19468 non-null  object
 4   State               19468 non-null  object
 5   ZIP_Code            19468 non-null  int64
 6   County_Name         19448 non-null  object
 7   Hospital_Type       19468 non-null  object
 8   Hospital_Ownership  19468 non-null  object
 9   Emergency_Services  19468 non-null  bool
 10  Disease_Name        19468 non-null  object
 11  Days                19468 non-null  float64
 12  Predicted_Cases     19468 non-null  float64
 13  Observed_Cases      19468 non-null  int64
 14  SIR                 19468 non-null  float64
dtypes: bool(1), float64(3), int64(3), object(8)
memory usage: 2.1+ MB